body {
    background-color: #dedede;
    margin: 0;
    font-family: Helvetica, Tahoma, Arial, PingFang SC, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

/*Task 05 aside part*/
#container {
    padding: 20px;
}
aside {
    float: right;
    width: 340px;
    box-sizing: border-box;
}

#main-content-wrapper {
    float: left;
    margin-left: -360px;
    width: 100%;
    box-sizing: border-box;
}

#main-content {
    box-sizing: border-box;
    margin-left: 360px;
}

.clearfix {
    clear: both;
}
/*Task 05 aside part ends*/

header {
    overflow: hidden;
    background-color: #333;
}

header>img {
    margin: 0 20px;
}

.nav {
    float: right;
    display: inline-block;
    margin: 0 20px;
    padding: 0;
}

.nav>li {
    float: left;
    margin: 20px 15px;
}

.nav a {
    font-size: small;
    color: white;
}

header>img {
    float: left;
    max-height: 70px;
}

article, aside {
    /*margin: 20px;*/
    border: solid 1px #D4D4D4;
    background: white;
    box-shadow: 3px 3px 3px #999;
    padding: 20px;
    margin-bottom: 20px;
}

.author, h3 {
    color: gray;
}

.photo-list {
    list-style-type: none;
}

.photo-list>li {
    border: solid 1px #D4D4D4;
    max-width: 150px;
    max-width: 150px;
    text-align: center;
    padding: 5px;
    margin: 20px;
    display: inline-block;
}

.photo-list img {
    max-width: 110px;
}

table {
    width: 100%;
    border: solid 1px #D4D4D4;
    border-collapse: collapse;
}

th {
    background-color: #484848;
    color: white;
}

td {
    border: solid 1px #D4D4D4;
}

tfoot td {
    background-color: #D4D4D4;
}

aside>h2 {
    font-size: medium;
    padding:0  20px;
    border-left: 4px solid #999;
}

aside>h3 {
    text-align: center;
}

form label {
    float:left;
    text-align:right;
    width: 40%;
    font-size: small;
    margin-right: 1em;
}

form>p {
    clear: left;
    font-size: small;
}

form .description{
    text-align: center;
    color: gray;
}

.form-field {
    display: inline-block;
    font-size: small;
}

form>.submit {
    width: 100%;
    color: white;
    background: #165bfd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}