* {
	margin: 0;
	padding: 0;
	font-family:  "Microsoft YaHei";
}

.container {
	width: 900px;
	margin-top: 20px;
	margin-left: 20px;
}

p {
	width: 100%;
	margin-top: 10px;
}

label {
	white-space:pre;
}

button {
	display: block;
	background-color: #0078D7;
	border: 1px solid #eeeeee;
	width: 60px;
	height: 40px;
	border-radius: 4px;
	margin-top: 10px;
	color: white;
	cursor: pointer;
	margin-left: 50px;
	font-size: 14px;
}

input {
	height: 30px;
	width: 300px;
}

.right {
	color: forestgreen;
}

.warning {
	color: red;
}